{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron">
    <h4 class="display-4">Build with <span class="text-danger">&hearts;</span> for
        <a href="https://www.lillydoo.com/" target="_blank"><img src="/lillydoo.png"></a>
        :)
    </h4>
    <hr class="my-4">
    <p>
        <a href="#" class="badge badge-primary">Symfony3.4</a>
        <a href="#" class="badge badge-secondary">Webpack</a>
        <a href="#" class="badge badge-success">Bootstrap4</a>
    </p>
    <strong>By: </strong><a href="http://omarmakled.me/" target="_blank">Omar Makled</a>
</div>
{% endblock %}